.aboutPage {
    height: 3456px;
    
    text-align: center;
    position: relative;
    color: white;
    
    background: url('/WebsiteSources/Images/MainBackground2.jpg');

  }
  .aboutPage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
}
.aboutPageContent {

  position: relative;
  z-index: 2;
  padding: 20px;  
}

.aboutPageContent h1 {
  font-size:xx-large; 
}
.aboutPageContent p {
  font-size: medium;
}
.aboutPageContent h2 {
  font-size: larger;
}