.contactPage {
    height: 2700px;
    
    text-align: center;
    position: relative;
    color: white;
    
    background: url('/WebsiteSources/Images/contactBackground.jpg');

  }
  .contactPage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
}
.contactPageContent {

  position: relative;
  z-index: 2;
  padding: 20px;  
}

.contactPageContent h1 {
  font-size:xx-large; 
}
.contactPageContent p {
  font-size: medium;
}
.contactPageContent h2 {
  font-size: larger;
}